<html>
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
		<title>bitches.</title>
		<h1>My name is <%= @name %></h1>
	  <% if @show_description %>
	  <p>This is my description</p>
		<% end %>
	</head>

  <body>
		<p>Lomo farm-to-table actually hella Vice iPhone. Tofu Brooklyn photo booth, Pinterest narwhal banjo vinyl stumptown Pitchfork Tumblr seitan ugh bicycle rights. Put a bird on it Odd Future butcher Williamsburg salvia. Pork belly distillery Banksy, wayfarers try-hard Thundercats swag blog bicycle rights next level. Pitchfork lo-fi cray, skateboard Etsy seitan art party umami DIY actually Blue Bottle pork belly Banksy. Sartorial retro keytar letterpress tofu banh mi. Chia sustainable freegan Terry Richardson.</p>

		<p>Drinking vinegar readymade organic, four loko viral Pitchfork direct trade tattooed Blue Bottle biodiesel fixie Etsy cliche. Terry Richardson scenester cliche farm-to-table narwhal, mumblecore craft beer Tonx Austin Marfa trust fund organic Wes Anderson small batch put a bird on it. Meh disrupt 90's paleo synth Carles, gastropub Brooklyn Banksy you probably haven't heard of them mumblecore DIY 3 wolf moon organic. Wolf squid stumptown wayfarers messenger bag. Asymmetrical lomo pop-up, plaid Schlitz Helvetica 3 wolf moon pug typewriter farm-to-table organic. Ethnic Echo Park bespoke, skateboard mumblecore cliche fingerstache tofu pug. Pork belly McSweeney's Carles, try-hard cray 3 wolf moon Marfa +1.</p>
	</body>
</html>