<html>
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
		<title>hash fight!</title>
		<h1>Hello, <%= @name %>!</h1>
	  <% if @show_description %>
	  <p>This is my description</p>
		<% end %>
	</head>

  <body>
  	<form action="/twitter" method="post">
			<div class="form">
				<p>Enter two hashtags to compare:</p>
				<div>
					<label class="enter-one">Hashtag 1! </label>
				  <input name="login-a" id="login-a" type="text"/>  
			  </div>
			  <div>
				  <label class="enter-two">Hashtag 2! </label>
					<input name="login-b" id="login-b" type="text"/>			    
					<input id="saveForm" class="button_text" type="submit" value="Submit" />
				</div>
			</div>
	  </form>

		<p class="bod">Drinking vinegar readymade organic, four loko viral Pitchfork direct trade tattooed Blue Bottle biodiesel fixie Etsy cliche. Terry Richardson scenester cliche farm-to-table narwhal, mumblecore craft beer Tonx Austin Marfa trust fund organic Wes Anderson small batch put a bird on it. Meh disrupt 90's paleo synth Carles, gastropub Brooklyn Banksy you probably haven't heard of them mumblecore DIY 3 wolf moon organic. Wolf squid stumptown wayfarers messenger bag. Asymmetrical lomo pop-up, plaid Schlitz Helvetica 3 wolf moon pug typewriter farm-to-table organic. Ethnic Echo Park bespoke, skateboard mumblecore cliche fingerstache tofu pug. Pork belly McSweeney's Carles, try-hard cray 3 wolf moon Marfa +1.</p>
		

	</body>
</html>