<html>
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
		<title>results!</title>
		<div class="form">
			<h1>Oh hey. <%= @result %></h1>
			  <% if @show_description %>
			  <p>This is my description</p>
				<% end %>
	    </div>
	</head>

  <body>
  	<div class="WuTang">
			<p class="bod">What that nigga want God?</p>
			<p class="bod">Word up, look out for the cops [Wu-Tang five finger shit] </p>
			<p class="bod">(Cash Rules) Word up, two for fives over here baby </p>
			<p class="bod">Word up, two for fives them niggaz got garbage down the way, word up </p>
			<p class="bod">KnowhatI'msayin? </p>
			<p class="bod">(Cash Rules Everything Around Me 
			C.R.E.A.M. get...) </p>
			<p class="bod">Yeah, check this ol fly shit out </p>
			<p class="bod">Word up </p>
			<p class="bod">(Cash Rules Everything Around Me) Take you on a natural joint </p>
			<p class="bod">(C.R.E.A.M. get the money) Here we here we go </p>
			<p class="bod">(dolla dolla bill y'all) Check this shit, yo! </p>

			<p class="bod"><h3>Verse One: Raekwon the Chef </h3></p>

			<p class="bod">I grew up on the crime side, the New York Times side </p>
			<p class="bod">Staying alive was no jive </p>
			<p class="bod">At second hands, moms bounced on old men </p>
			<p class="bod">So then we moved to Shaolin land </p>
			<p class="bod">A young youth, yo rockin the gold tooth, 'Lo goose </p>
			<p class="bod">Only way, I begin to gee off was drug loot </p>
			<p class="bod">And let's start it like this son, rollin with this one </p>
			<p class="bod">And that one, pullin out gats for fun </p>
			<p class="bod">But it was just a dream for the teen, who was a fiend </p>
			<p class="bod">Started smokin woolies at sixteen </p>
			<p class="bod">And running up in gates, and doing hits for high stakes </p>
			<p class="bod">Making my way on fire escapes </p>
			<p class="bod">No question I would speed, for cracks and weed </p>
			<p class="bod">The combination made my eyes bleed </p>
			<p class="bod">No question I would flow off, and try to get the dough all </p>
			<p class="bod">Sticking up white boys in ball courts </p>
			<p class="bod">My life got no better, same damn 'Lo sweater</p> 
			<p class="bod">Times is ruff and tuff like leather </p>
			<p class="bod">Figured out I went the wrong route </p>
			<p class="bod">So I got with a sick ass click and went all out </p>
			<p class="bod">Catchin keys from across seas </p>
			<p class="bod">Rollin in MPV's, every week we made forty G's </p>
			<p class="bod">Yo nigga respect mine, or anger the tech nine </p>
			<p class="bod">Ch-chick-POW! Move from the gate now </p>

			<p class="bod">Chorus: Method Man </p>

			<p class="bod">Cash, Rules, Everything, Around, Me </p>
			<p class="bod">C.R.E.A.M. </p>
			<p class="bod">Get the money </p>
			<p class="bod">Dollar, dollar bill y'all </p>

			<p class="bod"><h3>Verse Two: Inspector Deck</h3> </p>

			<p class="bod">It's been twenty-two long hard years of still strugglin </p>
			<p class="bod">Survival got me buggin, but I'm alive on arrival </p>
			<p class="bod">I peep at the shape of the streets </p>
			<p class="bod">And stay awake to the ways of the world cause shit is deep </p>
			<p class="bod">A man with a dream with plans to make C.R.E.A.M. </p>
			<p class="bod">Which failed; I went to jail at the age of 15 </p>
			<p class="bod">A young buck sellin drugs and such who never had much </p>
			<p class="bod">Trying to get a clutch at what I could not... could not...</p> 
			<p class="bod">The court played me short, now I face incarceration </p>
			<p class="bod">Pacin -- going up state's my destination </p>
			<p class="bod">Handcuffed in back of a bus, forty of us </p>
			<p class="bod">Life as a shorty shouldn't be so ruff </p>
			<p class="bod">But as the world turns I learned life is hell</p> 
			<p class="bod">Living in the world no different from a cell </p>
			<p class="bod">Everyday I escape from Jakes givin chase, sellin base</p> 
			<p class="bod">Smokin bones in the staircase </p>
			<p class="bod">Though I don't know why I chose to smoke sess </p>
			<p class="bod">I guess that's the time when I'm not depressed </p>
			<p class="bod">But I'm still depressed, and I ask what's it worth?</p> 
			<p class="bod">Ready to give up so I seek the Old Earth </p>
			<p class="bod">Who explained working hard may help you maintain</p> 
			<p class="bod">to learn to overcome the heartaches and pain </p>
			<p class="bod">We got stickup kids, corrupt cops, and crack rocks</p> 
			<p class="bod">and stray shots, all on the block that stays hot </p>
			<p class="bod">Leave it up to me while I be living proof </p>
			<p class="bod">To kick the truth to the young black youth </p>
			<p class="bod">But shorty's running wild smokin sess drinkin beer </p>
			<p class="bod">And ain't trying to hear what I'm kickin in his ear </p>
			<p class="bod">Neglected, but now, but yo, it gots to be accepted </p>
			<p class="bod">That what? That life is hectic </p>

			<p class="bod"><h3>Outro: </h3></p>

			<p class="bod">Niggas gots to do what they gotta do, to get a bill </p>
			<p class="bod">YaknowhatI'msayin? </p>
			<p class="bod">Cuz we can't just get by no more </p>
			<p class="bod">Word up, we gotta get over, straight up and down </p>

			<p class="bod">Cash Rules Everything Around Me </p>
			<p class="bod">C.R.E.A.M. </p>
			<p class="bod">get the money </p>
			<p class="bod">Dolla dolla bill y'aauhhhaaaauhhhhahhhauhhhhll, YEAH </p>
		</div>
	</body>
</html>