<html>
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
		<title>results!</title>
		<div class="form">
			<h1>Oh hey. <%= @result %></h1>
			  <% if @show_description %>
			  <p>This is my description</p>
				<% end %>
	    </div>
	</head>

  <body>
  	<p class="bod">
  		After all those years of living in fear<br/> 
			I stopped worrying about the bomb or the other shoe dropping <br/>
			After all those years worried for my life <br/>
			I started to enjoy myself, I started to enjoy myself <br/>
			And the only ones who have suffered from it <br/>
			Have been the creditors and the landlords <br/>
			And you know what? F**k them <br/>
			If they want an apology they can have it<br/> 
			For any inconvenience I might have caused <br/>
			But the butterflies in my stomach have flown up through my throat <br/>
			And learned to love the open air, the open air <br/>
			Sorry guys, sit down and have a drink, but I'm not sorry
  	</p>
	</body>
</html>