@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: 'Open Sans', Verdana, Tahoma;
}

div.form {
	height: 100px;
    width: 350px;
    padding: 25;
    border: 2px dotted #2F2A38;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
input {
	margin-left: auto;
    margin-right: auto;
    background-color: #9760F7;
}

body {
	background-color: #BD9DF5;
}

.WuTang {
	margin-left: auto;
    margin-right: auto;
    background-color: #6B1BF7;
    border-radius: 30px;
}

p.bod {
	background-color: #8340F7;
	border-radius: 30px;
	padding: 10px;
}